<a href="https://colab.research.google.com/github/AkritiGhosh/Python_Data_Analysis/blob/main/Statistics_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
from scipy import stats

In [7]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
arr = np.array(df['households'])

# In Numpy array
## Mean

In [9]:
np.mean(arr)

501.2219411764706

##Median

In [10]:
np.median(arr)

409.0

## Mode

In [14]:
stats.mode(arr)

ModeResult(mode=306.0, count=48)

## Variance

In [15]:
np.var(arr)

147847.57962446712

## Standard deviation

In [16]:
np.std(arr)

384.50953125308496

# In Pandas Dataframe

In [17]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [18]:
df.describe().loc['mean','households']

501.2219411764706